[Unit]
Description=Sentry Beat Service
After=network.target

[Service]
Type=simple
User=sentry
Group=sentry
WorkingDirectory=<%= @path %>
Environment=SENTRY_CONF=/etc/sentry
ExecStart=<%= @path %>/bin/sentry run cron

[Install]
WantedBy=multi-user.target
