[Unit]
Description=Sentry Background Worker
After=network.target

[Service]
Type=simple
User=sentry
Group=sentry
WorkingDirectory=<%= @path %>
Environment=SENTRY_CONF=/etc/sentry
ExecStart=<%= @path %>/bin/sentry run worker

[Install]
WantedBy=multi-user.target
